.checkbox>label{
font-size:1.5em	
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2.1); /* IE */
  -moz-transform: scale(2.1); /* FF */
  -webkit-transform: scale(2.1); /* Safari and Chrome */
  -o-transform: scale(2.1); /* Opera */
  padding: 10px;
}
.btn-success
{
	-ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3);
}
