.checkbox>label{
  font-size:1.5em
}

.bigCheckbox
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2.0); /* IE */
  -moz-transform: scale(2.0); /* FF */
  -webkit-transform: scale(2.0); /* Safari and Chrome */
  -o-transform: scale(2.0); /* Opera */
  margin-top: 10px;
}

.checkboxes {
  margin-left: 30px;
}
