
<ul class="nav nav-pills">
  <li role="presentation" ng-class="getClass('water')"><a ng-click="supply = 'water'">Water</a></li>
  <li role="presentation" ng-class="getClass('gas')"><a ng-click="supply = 'gas'">Gas</a></li>
  <li role="presentation" ng-class="getClass('food')"><a ng-click="supply = 'food'">Food</a></li>
  <li role="presentation" ng-class="getClass('money')"><a ng-click="supply = 'money'">Money</a></li>
  <li role="presentation" ng-class="getClass('medicine')"><a ng-click="supply = 'medicine'">Medicine</a></li>
</ul>

<br/>

<div class="panel panel-default">
  <div class="panel-heading dark">
    Calculated Data
  </div>
  <div class="panel-body">

    <div class="row" style="margin-top: 30px;">
      <div class="col-xs-4 col-sm-2">
        <strong>
        Zipcode
        </strong>
      </div>
      <div class="col-xs-4 col-sm-5">
        <strong>
        Confirmed Household Recipients
        </strong>
      </div>
      <div class="col-xs-4 col-sm-4">
        <strong>
        Supplied Househould Units
        </strong>
      </div>
    </div>

    <hr/>

    <div class="row" ng-repeat="d in obj">
      <div class="col-xs-4 col-sm-2">
        <p>{{d.zip}}</p>
      </div>
      <div class="col-xs-4 col-sm-5">
        <p>
        {{d[supply].households}}
        </p>
      </div>
      <div class="col-xs-4 col-sm-5">
        <p>
        {{d[supply].qty}}
        </p>
      </div>
    </div>

  </div>
</div>

