
<div class="panel panel-default">
  <div class="panel-heading dark">
    Volunteer Login
  </div>
  <div class="panel-body">
    <form name="Login" novalidate class="form" role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input required type="email" ng-model="systemUser.email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input required  type="password" ng-model="systemUser.password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <div class="row">
    <div class="col-sm-offset-8 col-sm-4 col-xs-offset-6 col-xs-6">
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </div>
  </div>

</form>
  </div>

  <div ng-repeat = "f in data.features">
    {{f.attributes}}
  </div>
</div>
