<div class="panel panel-default">
  <div class="panel-body">
    <form name="submitForm" novalidate class="recipient-form" >
      Log Household Resource Recipient <br />
      Address: <input type="text" ng-model="user.address" required /><br />
      City: <input type="text" ng-model="user.city" required /><br />
      Zip Code: <input type="text" ng-model="user.zipcode" required /><br />
      County: <input type="text" ng-model="user.county" required /><br />

      Check Select Household Resource Received <br />
      Food <input type="checkbox" ng-model="user.food" ><br />
      Water <input type="checkbox" ng-model="user.water"><br />
      Gas <input type="checkbox" ng-model="user.gas"><br />
      Medicine <input type="checkbox" ng-model="user.medicine"><br />
      Money <input type="checkbox" ng-model="user.money"><br />
      <br />
      <!-- <input type="button" ng-click="reset()" value="Reset" /> --!>
      <input type="submit"
        ng-click="submit(user)" value="Submit"
        ng-disabled="submitForm.$invalid" />
  </form>
  <br />
  <pre>submittedRecipients = {{submittedRecipients | json}}</pre>
  </div>
</div>

<style type="text/css">
  .recipient-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .recipient-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
