
<div class="panel panel-default">
  <div class="panel-heading dark">
    Log Recipient
  </div>
  <div class="panel-body">
    <form name="submitForm" novalidate class="row recipient-form">

      <div class="form-group col-sm-12">
        <label for="address">Address</label>
        <input type="text" ng-model="user.address" class="form-control" id="address" placeholder="Address" required>
      </div>
      <div class="form-group col-sm-12">
        <label for="address">City</label>
        <input type="text" ng-model="user.city" class="form-control" id="city" placeholder="City" required>
      </div>
      <div class="form-group col-sm-12">
        <label for="address">Zip Code</label>
        <input type="text" ng-model="user.zip" class="form-control" id="zip" placeholder="Zip" required>
      </div>
      <div class="form-group col-sm-12">
        <label for="address">County Code</label>
        <input type="text" ng-model="user.county" class="form-control" id="county" placeholder="County" required>
      </div>
      <div>
        <label>Check Select Household Resource Received </label>
      
      <div class="checkbox">
        <div class="col-xs-1"></div> <input class="bigCheckbox" id ="food" type="checkbox" ng-model="user.food" ><label for="food"> Food</label>
      </div>
      <br>
      <div class="checkbox">
        <div class="col-xs-1"></div><input class="bigCheckbox" id="water" type="checkbox" ng-model="user.water"><label for="water"> Water</label>
      </div>
      <br>
      <div class="checkbox">
        <div class="col-xs-1"></div><input class="bigCheckbox" id="gas" type="checkbox" ng-model="user.gas"><label for="gas"> Gas</label>
      </div>
      <br>
      <div class="checkbox">
        <div class="col-xs-1"></div><input class="bigCheckbox" id="medicine" type="checkbox" ng-model="user.medicine"><label for="medicine"> Medicine</label>
      </div>
      <br>
      <div class="checkbox">
        <div class="col-xs-1"></div><input class="bigCheckbox" id="money" type="checkbox" ng-model="user.money"> <label for="money">Money</label>
      </div>
      <br>
      </div>
      <div class="form-group col-sm-12">
        <!-- <input type="button" ng-click="reset()" value="Reset" /> -->
        <button class="btn btn-success" type="submit"
          ng-click="submit(user)" value="Submit"
          ng-disabled="submitForm.$invalid" >
          Submit
        </button>
      </div>
      
      <!-- <input type="button" ng-click="reset()" value="Reset" /> -->
      
  </form>
  <br />
<!-- <pre>submittedRecipients = {{submittedRecipients | json}}</pre> -->
  </div>
</div>
