

<div class="row">
  <div class="col col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        Resources needed at this location...
      </div>
    </div>
    <div class="row" ng-repeat = "(k,v) in selectedDisaster.needs" 
      ng-hide="v.qty <= selectedDisaster.recieved[k].qty">
      <div class="col-xs-8">
        <small><span class="glyphicon glyphicon-menu-right"></span></small>
        {{k}}
      </div>
    </div>
    <div class="addressbox">
      <div class="row" ng-repeat = "line in selectedDisaster.address">
        <div class="col-xs-8">
        {{line}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        {{selectedDisaster.phone}}
      </div>
    </div>
  </div>
</div>
