
<div class="row" ng-repeat = "d in disasters">
  <div class="col col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading dark clickable">
        <button ng-click="changeIndex($index)" class="btn btn-default">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button style="margin-left:20px;">
        <span style="margin-left:20px;">
          {{d.name}}
        </span>
        <span style="font-size:0.9em; font-weight:300;" class="pull-right">
          zip {{d.zip}}
        </span>
      </div>
      <div class="panel-body">
        {{d.description}}
        <div class="repeated-item" ng-class="isOpen($index)" ng-show="openIndex[$index]">
          <ng-include src="'./views/resource-details.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>

