

<div class="row">
  <div class="col-xs-12">

    <div class="addressbox">
      <div class="row" ng-repeat="line in selectedDisaster.address">
        <div class="col-xs-8">
          {{line}}
        </div>
      </div>
    </div>
    {{selectedDisaster.phone}}

  </div>
</div>


<div class="row" ng-repeat="(k,v) in selectedDisaster.needs"
  ng-hide="v.qty <= selectedDisaster.recieved[k].qty">
  <div class="col-xs-12">
    <small><span class="glyphicon glyphicon-menu-right"></span></small>
    {{k}}
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
  </div>
</div>
